// PRIMARY COLORS //
$primary-dark-color: #000000;
$primary-white-color: #ffffff;

// SECONDARY COLORS //
$secondary-dark-color: #2e2e2e;
$secondary-white-color: #777777;

// ELEMENTS COLORS //
$banner-button-color: #ff6c45;
$icons-color-fill: #24c1d2;
$link-color: #17becf;
$footer-bg-color: #18bed0;
$copyright-color: #12818e;

// ICON-SECTION ICONS COLOR //
$icon-section-fill: #18bed0;

// theme-list SECTION COLORS //
$calendar-title-color: #222222;
$theme-list__name: #78787a;

// FONTS //
$primary-font-stack: "Exo 2", sans-serif;
$desc-font-stack: "Open Sans", sans-serif;
$logo-font-stack: 'Montserrat', sans-serif;
$calendar-btn-font: "Open Sans", sans-serif;

// CALENDAR-SECTION-COLORS //
$calendar-title-color: #222222;
$calendar-desc-color: #2e2e2e;
$date-color: #17becf;
$calendar-btn-color: #17becf;

//  HEADER COLORS //
$header-text-color: #222222;
$entry-color: #888888;

// FOOTER COLORS //
$footer-logo-color: #aee8ef;
$footer-socials-color:#0f0101;
$borders-color: #12818e;
$up-arrow-collor: #1bc9dc;

// MESSAGE FORM COLORS //
$MESSAGE-FORM--border-color: rgb(241, 241, 241);
$MESSAGE-FORM--placeholder: rgb(204, 204, 204);
$MESSAGE-FORM--button-font: rgb(255, 255, 255);
$MESSAGE-FORM--background-color: rgb(23, 190, 207);
$MESSAGE-FORM--button-font--hover: rgb(23, 190, 207);
$MESSAGE-FORM--background-color--hover: rgb(255, 255, 255);
// SEARCH FORM COLORS //
$SEARCH-FORM--border-color: rgb(241, 241, 241);
$SEARCH-FORM--placeholder: rgb(204, 204, 204);
$search-icon--color: rgb(204, 204, 204);
// FORUM THREAD COLORS //
$forum-thread-section__header-color: rgba(34, 34, 34, 0.91);
$forum-thread-section__remind-color: rgb(136, 136, 136);
$forum-thread-section__remind-link-color: #18bed0;
$FORUM-THREAD--border-color: rgb(241, 241, 241);
$thread-message__date-color:rgb(136, 136, 136);
$thread-message__text-color:rgb(46, 46, 46);
$thread-message--odd-background-color:rgb(236, 248, 242);
$thread-message--even-background-color:rgb(252, 240, 240);
$thread-message__date-color: rgb(136, 136, 136);
$user-name-color: rgb(23, 190, 207);
$user-rating__text-color:rgb(136, 136, 136);
$user-rating__background-color:rgb(250, 250, 250);
$button-reply-text-color:rgb(46, 46, 46);
$button-reply-border-color:rgb(241, 241, 241);
$button-reply-background-color:rgb(255, 255, 255);
$button-reply-text-color--hover:rgb(255, 255, 255);
$button-reply-background-color--hover:rgb(23, 190, 207);
$button-reply-border-color--hover:rgb(23, 190, 207);
$button-reply-border-color:rgb(241, 241, 241);
$button-reply-background-color:rgb(255, 255, 255);
$button-like-background-color:rgb(255, 255, 255);
$button-like-border-color:rgb(241, 241, 241);
$button-like-text-color:rgb(46, 46, 46);
$button-like__icon-color:rgb(23, 190, 207);
$button-like-background-color--hover:rgb(23, 190, 207);
$button-like__icon-color--hover:rgb(255, 255, 255);
