@media (min-width: 1200px) {
  .main-header__site-name{
    display: block;
    margin-bottom: 3.6rem;
    font-size: 70px;
    font-family: "Montserrat";
    color: rgba(46, 46, 46, 0.941);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
}
