@media (min-width: 1200px) {
  .thread-message{
    margin-left: 12.4rem;
    margin-bottom: 0rem;

    &--main{
      margin-left: 0rem;
    }
  }

  .thread-message__text {
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 3.2rem;
    margin-bottom: 1.4rem;
    font-size: 1.8rem;

    &::after {
      content: ''; 
      position: absolute;
      left: 9.3rem;
      top: -1.2rem;
      border: 6px solid transparent; 
      border-bottom: 6px solid $thread-message--odd-background-color;
    }
  }
 
  .thread-message__message{
    width: 65rem;
  }

  .thread-message--main>.thread-message__message{
    width: 77.2rem;
  }

  .thread-message__user-info{
    padding-top: 4.4rem;
    padding-left: .6rem;
  }

  .thread-message__buttons{
    text-align: right;
  }

  .thread-message__text{
    margin-left: .8rem;
    margin-bottom: 1.8rem;
    width: auto;
  }

  .thread-message__user-info{
    padding-top: 4.4rem;
    padding-left: .6rem;
  }

  .thread-message__user-box{
    margin-left: .8rem;
    margin-top: 3.4rem;
    margin-bottom: 4.6rem;
  }

  .thread-message__buttons{
    text-align: right;
  }
}
