.c-logo {
  font-size: 19px;
  color: $secondary-dark-color;
  text-transform: uppercase;
  font-family: $logo-font-stack;
  font-weight: bold;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 12px;
  display: inline-block;
  cursor: pointer;
}
