.button-like__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  fill: $button-like__icon-color;
  transition: 0.3s linear;

  &:hover {
    fill: $button-like__icon-color--hover;
    transition: 0.3s linear;
    //font-weight: 700;
  }

}
