.button-like{
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-right: 2.8rem;
  padding-left: 2.8rem;
  font-family: $desc-font-stack;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .08em;
  color: $button-like-text-color;
  border-width: 1px;
  border-color: $button-like-border-color;
  background-color: $button-like-background-color;
  border-style: solid;
  cursor: pointer;
  transition: 0.3s linear;

  &:hover {
    background-color: $button-like-background-color--hover;
    //color: $button-reply-text-color--hover;
    border: 1px solid $button-like-background-color--hover;
    transition: 0.3s linear;
    //font-weight: 700;
  }

  &:hover .button-like__icon{
    fill: $button-like__icon-color--hover;
    transition: 0.3s linear;
  }
}
