.forum-thread-section__header{
  margin-bottom: 3rem;
  font-size: 4rem;
  font-family: $primary-font-stack;
  color: $forum-thread-section__header-color;
  line-height: 1;
  letter-spacing: .01em;
  text-align: center;
}
