.thread-message:nth-child(even) .thread-message__text {
  background-color: $thread-message--even-background-color;

  &::after {
    border: 6px solid transparent; 
    border-bottom: 6px solid $thread-message--even-background-color;
  }
}

.thread-message:last-child{
  margin-bottom: 4rem;
}
