.forum-thread-section__container{
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-top: 2.8rem;
  padding-left: 2rem;
  padding-right: 3.4rem;
  //width: 72rem;
  border-width: 1px;
  border-color: $FORUM-THREAD--border-color;
  border-style: solid;
}
