// PRIMARY COLORS //
$primary-dark-color: #000000;
$primary-white-color: #ffffff;

// SECONDARY COLORS //
$secondary-dark-color: #2e2e2e;
$secondary-white-color: #777777;

// ELEMENTS COLORS //
$banner-button-color: #ff6c45;
$icons-color-fill: #24c1d2;
$link-color: #17becf;
$footer-bg-color: #18bed0;
$copyright-color: #12818e;

// ICON-SECTION ICONS COLOR //
$icon-section-fill: #18bed0;

// theme-list SECTION COLORS //
$calendar-title-color: #222222;
$theme-list__name: #78787a;

// FONTS //
$primary-font-stack: "Exo 2", sans-serif;
$desc-font-stack: "Open Sans", sans-serif;
$logo-font-stack: 'Montserrat', sans-serif;
$calendar-btn-font: "Open Sans", sans-serif;

// CALENDAR-SECTION-COLORS //
$calendar-title-color: #222222;
$calendar-desc-color: #2e2e2e;
$date-color: #17becf;
$calendar-btn-color: #17becf;

//  HEADER COLORS //
$header-text-color: #222222;
$entry-color: #888888;

// FOOTER COLORS //
$footer-logo-color: #aee8ef;
$footer-socials-color:#0f0101;
$borders-color: #12818e;
$up-arrow-collor: #1bc9dc;
