.message-form__button{
  display: block;
  margin: 0;
  margin-left: 1.6rem;
  padding: 1.6rem 2rem;
  font-family: $desc-font-stack;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .08em;
  color: $MESSAGE-FORM--button-font;
  background-color: $MESSAGE-FORM--background-color;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}
