.message-form__input{
  width: 100%;
  display: block;
  box-sizing: border-box;
  height: 12rem;
  padding-top: 3.4rem;
  padding-left: 2rem;
  margin-bottom: 1.6rem;
  font-family: $primary-font-stack;
  font-size: 1.5rem;
  letter-spacing: .01em;
  border-width: 1px;
  border-color: $MESSAGE-FORM--border-color;
  border-style: solid;
  resize: none;

  &::placeholder{
    color: $MESSAGE-FORM--placeholder;
  }
}
