@media (min-width: 1024px) {
  .l-theme {
    height: 100%;
    position: sticky;
    right: 0;
    top: 0;
    width: 498px;
    border: 1px solid rgb(241, 241, 241);
    margin: 0 auto;
    margin-left: 15px;
  }

  .c-theme-list__name {
    // font-size: 20px;
    letter-spacing: .01em;
  }

  .l-theme-list__button:last-of-type {
    margin-bottom: 0;
  }
}

